/*
 * @Author: 卓文理
 * @Email: 531840344@qq.com
 * @Date: 2018-01-19 18:03:22
 */

.main
    display: flex
    height: 100vh
    overflow: hidden
    &__aside
        position: relative
        background: #ffffff
        box-shadow: 0 0 3px 0 #ddd
        transform: translateX(-100%)
        transition: all 0.2s ease
        width: 0
        overflow: hidden
        &.show
            width: 300px
            transform: translate3d(0, 0, 0)
    &__content
        flex: 1
        background: #eceff1
    &__header
        width: 100%
        background: #ffffff
        .search-border
            height: 4px
            width: 100%
            background: #ffffff
            transition: all 0.2s ease
            &.google
                background: linear-gradient(to right, #4285f4 ((100/6) * 1%), #ea4335 ((100/6) * 1%), #ea4335 ((100/6) * 2%), #f9bc05 ((100/6) * 2%), #f9bc05 ((100/6) * 3%), #4285f4 ((100/6) * 3%), #4285f4 ((100/6) * 4%), #34a852 ((100/6) * 4%), #34a852 ((100/6) * 5%), #ea4335 ((100/6) * 5%), #ea4335 ((100/6) * 6%));
            &.baidu
                background: #2d78f4
            &.yahoo
                background: #4d00ae
            &.bing
                background: #278483
        .btn-setting
            position: absolute
            top: 10px
            right: 10px
            display: flex
            width: 30px
            height: 30px
            align-items: center
            justify-content: center
            border: 0
            background: #ffffff
            cursor: pointer
            outline: 0
            z-index: 101
        .oction-kebab-vertical
            width: 3px
            height: 16px
        .oction-x
            width: 12px
            height: 16px
    &__trending
        position: relative
        width: 100%
        height: calc(100vh - 109px)
        z-index: 10
    &__setting
        position: fixed
        top: 0
        right: 0
        bottom: 0
        width: 300px
        overflow: hidden
        background: #ffffff
        z-index: 100
        box-shadow: 0 0 3px 0 #ddd
        transform: translateX(100%)
        transition: all 0.2s ease
        &.show
            transform: translate3d(0,0,0)
        &-title
            height: 44px
            line-height: 44px
            border-bottom: 1px solid #efefef
            padding-left: 20px
            font-size: 14px
        &-content
            padding: 10px
            .el-form-item
                margin-bottom: 0

