body{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    width: 250px;
    height: 300px;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
}

.title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
}

#img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

#img img{
    display: block;
    width: 100%;
    height: 100%;
}
#img text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #909399;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    user-select: none;
}

.el-form{
    padding: 20px 10px 0;
}
.el-form-item__label{
    width: 40px;
}
.el-form-item__content{
    margin-left: 40px;
}
.el-form-item__error{
    display: none;
}

#button{
    display: block;
    width: 80%;
    margin: 0 auto;
}

#notification{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#notification.show{
    display: flex;
}

#notification .el-icon-success{
    color: #67c23a;
    font-size: 28px;
}

#notification .content{
    font-size: 14px;
    padding-top: 10px;
}