/*
 * @Author: 卓文理
 * @Email: 531840344@qq.com
 * @Date: 2018-01-20 15:33:21
 */

@import '../../stylesheet/common.sass'

.github-trending
    touch-action: none
    overflow: hidden
    height: 100%

    &__title
        display: flex
        padding-left: 5px
        .el-select
            margin: 5px
            &.language
                display: flex
            &__tags
                position: relative
                display: flex
                max-width: none !important
                padding: 5px 30px 5px 2px
                min-width: 195px
                & > span
                    display: flex
                & > .el-select__input
                    margin-left: 5px
                & + .el-input
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    .el-input__inner
                        height: 40px !important

    .scroller
        padding: 10px

    .vue-waterfall
        &-slot
            padding: 10px

    &__content
        display: flex
        flex-direction: row
        flex-wrap: wrap

    &__loading
        position: relative
        height: 100px
        .el-loading-mask
            background: transparent

    &__error
        padding: 50px 0
        text-align: center
        .title
            font-size: 32px
            font-weight: bold
            color: #333333
            margin: 0
        .content
            font-size: 16px
            color: #888888
            margin-bottom: 20px
        .button
            height: 58px
            line-height: 58px
            width: 220px
            font-size: 22px
            border: 0
            border-radius: 58px
            outline: 0
            font-size: 22px
            color: var(--background)
            background: #6abcfe
            text-align: center
            cursor: pointer

    .trending
        display: block
        cursor: pointer
        box-shadow: none
        padding: 10px
        width: 100%
        .el-card__body
            position: relative
            padding: 16px 20px

        .octicon
            width: 14px
            height: 16px
            text-align: center
            margin-right: 4px
            &-repo-forked
                width: 10px

        &__title
            color: var(--darkBlue)
            font-size: 20px
            line-height: 30px
            margin-bottom: 8px
            @include ellipsis
        &__desc
            height: 72px
            font-size: 14px
            line-height: 24px
            color: var(--fontColor)
            word-break: break-all
            @include max-text(3)
        &__meta
            display: flex
            height: 24px
            align-items: center
            flex-direction: row
            margin-top: 8px
            font-size: 12px
            margin-bottom: 6px
            span
                display: inline-block
            .color
                width: 12px
                height: 12px
                border-radius: 50%
                margin-right: 3px
            .lang
                margin-right: 16px
            .stars
                position: relative
                margin-right: 16px
                .added
                    position: absolute
                    top: 0
                    left: -8px
                    color: var(--red)
                    opacity: 0
                    transition: all 0.2s ease
        &__built
            display: flex
            height: 24px
            align-items: center
            flex-direction: row
            font-size: 12px
            img
                display: inline-block
                width: 20px
                height: 20px
                border-radius: 3px
                margin-left: 4px

        &:hover .trending__meta
            .added
                opacity: 1
                transform: translateY(-15px)


@media only screen and (min-width: 960px)
    .github-trending .trending
        width: 50%
        max-width: 50%
    .main-aside:not(.main-aside--show), .main-aside--collapse
        & ~ .main-content .github-trending .trending
            width: 33.3%

@media only screen and (min-width: 1280px)
    .github-trending .trending
        width: 33.3%
    .main-aside:not(.main-aside--show), .main-aside--collapse
        & ~ .main-content .github-trending .trending
            width: 25%

@media only screen and (min-width: 1600px)
    .github-trending .trending
        width: 25%
    .main-aside:not(.main-aside--show), .main-aside--collapse
        & ~ .main-content .github-trending .trending
            width: 20%

@media only screen and (min-width: 1920px)
    .github-trending .trending
        width: 20%
    .main-aside:not(.main-aside--show), .main-aside--collapse
        & ~ .main-content .github-trending .trending
            width: 16.66%

@media only screen and (min-width: 2560px)
    .github-trending .trending
        width: 16.66%
    .main-aside:not(.main-aside--show), .main-aside--collapse
        & ~ .main-content .github-trending .trending
            width: 14.285%

